.generic-container{
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #dbc1d9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

.tablecontainer{
    background-color:lemonchiffon;
}

.test{
    background-color: #009879;
    color: #ffffff;
    
}

